/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

:root {
  --menu-link-clr: rgb(253, 229, 220);
  --menu-link-hover-clr: #fff;
  --menu-link-active-bg-clr: rgb(66, 42, 76);
  --menu-section-clr: rgb(130, 113, 136);

  --menu-bg-clr: rgb(44, 19, 56);

  --time-bar-clr: rgb(149, 137, 155);
  --time-bar-clr-hover: rgb(111, 98, 117);

  --light-pink: #fbe5f7;

  --play-btn: #dd6fd1;
  --play-btn-hover: #d346c4;

  --timer-mode-active: #422a4c;

  --log-input-text-clr: rgb(44, 19, 56);
  --log-item-hover: rgb(248, 248, 249);
  --dollar-sign: rgb(196, 99, 186);
}

/* Menu */
.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  height: 100vh;
  width: 180px;
  background-color: var(--menu-bg-clr);
  overflow: hidden;
  transition: width 0.2s ease;
}

.side-menu-scroll {
  overflow-y: scroll;
  overflow-y: overlay;
  padding-left: 10px;
}

::-webkit-scrollbar {
  width: 2px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: var(--menu-bg-clr);
}

::-webkit-scrollbar-thumb {
  background: var(--play-btn);
}

.side-menu-scroll:hover::-webkit-scrollbar {
  width: 3px;
}

.side-menu .brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0px 15px;
  cursor: pointer;
}

.side-menu .brand .fa-bell {
  color: var(--menu-link-clr);
  padding: 10px 3px 10px 5px;
}

.side-menu .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  pointer-events: none;
}

.side-menu .brand .fa-bell:hover {
  color: var(--menu-link-hover-clr);
}

.side-menu-item,
#show-more-btn,
.workspace {
  display: flex;
  align-items: center;
  color: var(--menu-link-clr);
  border-radius: 8px;
  padding: 8px 8px;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  white-space: nowrap;
}

.side-menu-item:hover {
  color: var(--menu-link-hover-clr);
}

.side-menu-item span,
#show-more-btn span,
.workspace span {
  font-size: 14px;
  margin-left: 14px;
  pointer-events: none;
}

/* Menu Section */
.side-menu-section {
  color: var(--menu-section-clr);
  text-transform: uppercase;
  font-size: 11px;
  margin: 22px 0px 5px 0px;
  font-weight: 500;
  padding-left: 8px;
}

/* More Links */
.show-more-section {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.show-more-section .side-menu-item {
  opacity: 0.5;
}

.show-more-section .side-menu-item:hover {
  opacity: 1;
}

/* Workspace */

.workspace-section {
  margin-top: auto;
  padding-left: 10px;
}

.workspace-section .side-menu-section {
  margin-bottom: 10px;
}

.workspace {
  border: 1px solid var(--menu-section-clr);
  margin-top: auto;
}

.workspace:hover {
  border: 1px solid var(--menu-link-hover-clr);
}

.workspace .fa-chevron-down {
  color: var(--menu-section-clr);
  font-size: 9px;
  padding: 3px;
}

.workspace span,
.side-user-wrapper span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.workspace .icon img,
.side-menu-profile .icon img {
  width: 20px;
}

.side-menu-section .profile-section-bell {
  display: none;
}

/* Side menu Profile */

.side-menu-profile .side-menu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0px 15px;
}

.side-menu-profile span {
  font-size: 12px;
}

.side-menu-profile .side-user {
  color: var(--menu-link-clr);
  text-transform: capitalize;
}

.side-menu-profile .side-email {
  color: rgba(255, 255, 255, 0.9);
  text-transform: lowercase;
  display: block;
}

.side-menu-profile .side-email:hover {
  color: rgba(255, 255, 255, 0.95);
  text-transform: lowercase;
}

.side-menu-profile .icon {
  padding-right: 10px;
  cursor: pointer;
}

.side-user-wrapper {
  width: 120px;
}

/* Main content */
.main-content {
  position: relative;
  margin-left: 180px;
  transition: 0.2s ease;
  background-color: #fef9f8;
  height: 100vh;
  padding-top: 100px;
}

/* Time bar */
.time-bar-wrapper {
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
  width: 100%;
  padding-right: 200px;
  background-color: #fff;
  transition: 0.2s ease;
}

.time-bar-wrapper i {
  color: var(--time-bar-clr);
  cursor: pointer;
  margin-left: 3px;
  font-size: 16px;
  padding: 10px;
}

.time-bar-wrapper i:hover {
  color: var(--time-bar-clr-hover);
}

.time-bar-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time-bar-input {
  border: none;
  width: 100%;
  height: 66px;
  padding: 0px 20px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
}

.time-bar-input:focus::placeholder {
  color: transparent;
}

.time-bar-input::placeholder {
  color: var(--time-bar-clr);
  font-size: 18px;
  font-weight: 500;
}

.time-bar-actions {
  display: flex;
  align-items: center;
  background-color: #fff;
}

.time-bar-time {
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
  border-radius: 8px;
  padding: 6px 8px;
}
.time-bar-time:hover {
  background-color: var(--light-pink);
}

.main-content .play-btn {
  color: var(--play-btn);
  font-size: 37px;
}

.main-content .play-btn:hover {
  color: var(--play-btn-hover);
}

.timer-bar-mode {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}

.timer-bar-mode i {
  padding: 0px;
}

/* Looged work */
.log-wrapper {
  box-shadow: rgba(0, 0, 0, 0.13) 0px 2px 6px 0px;
  width: 100%;
  background-color: #fff;
}

.log-inner {
  display: flex;
  flex-direction: column;
}

.total-time-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.total-time-holder-inner {
  display: flex;
  align-items: center;
}

.total-time-holder .bulk-btn {
  display: none;
  color: var(--time-bar-clr);
  box-shadow: 0 0 0 1px var(--time-bar-clr);
  border-radius: 8px;
  padding: 7px;
  cursor: pointer;
}

.bulk-total-holder {
  display: none;
  margin-left: 15px;
}

.total-time-holder .bulk-btn:hover {
  color: var(--timer-mode-active);
}

.bulk-btn-active {
  color: var(--play-btn) !important;
  box-shadow: none !important;
  background-color: var(--light-pink);
}

.log-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 10px 0px 20px;
  box-shadow: rgb(232, 232, 232) 0px -1px 0px 0px inset;
}

.log-item:hover {
  background-color: var(--log-item-hover);
}

.log-item-active {
  background-color: var(--log-item-hover);
}

.log-left {
  display: flex;
  align-items: center;
}

.log-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.log-action-icon {
  visibility: hidden;
  padding: 10px;
  color: var(--time-bar-clr);
  cursor: pointer;
}

.log-action-icon-active {
  visibility: initial;
}

.options-btn-active {
  color: #dd6fd1 !important;
}

.log-right .fa-play,
.log-right .fa-ellipsis-v {
  color: rgb(173, 173, 173);
}

.log-item:hover .log-action-icon {
  visibility: initial;
}

.log-action-icon:hover {
  color: var(--time-bar-clr-hover);
}

.log-item .fa-dollar-sign {
  color: var(--dollar-sign);
}

.log-current-date {
  height: 50px;
  width: 70px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: var(--log-input-text-clr);
}

.log-input,
.bulk-total-holder {
  border: none;
  outline: none;
  width: 400px;
  font-size: 14px;
  color: var(--log-input-text-clr);
  font-weight: 400;
  background-color: transparent;
}

.log-input::placeholder {
  color: rgb(170, 170, 170);
}
.log-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  right: -5px;
  top: 38px;
  padding: 8px;
  min-width: 130px;
  font-size: 14px;
  line-height: 2;
  color: var(--log-input-text-clr);
  background-color: #fff;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 10px 1px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  transition: visibility 0s, opacity 0.1s linear;
}

.log-options span {
  border-radius: 8px;
  padding: 0px 8px;
}

.log-options span:hover {
  background-color: rgb(244, 245, 246);
}

.log-options-open {
  visibility: visible;
  opacity: 1;
}

.delete-log {
  color: red;
}

/* Utilities */

.active {
  color: var(--menu-link-hover-clr);
  background-color: var(--menu-link-active-bg-clr);
  opacity: 1 !important;
}

.active-section {
  max-height: 220px;
}

.workspace-active {
  border: 1px solid rgba(44, 19, 56, 0.4);
  background-color: rgba(252, 242, 251, 0.5);
  box-shadow: rgb(252, 242, 251) 0px 0px 4px 0px;
}

.divider {
  display: none;
}

#timer-mode-active {
  color: var(--timer-mode-active);
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Buttons */

#show-more-btn {
  opacity: 0.5;
}

#show-more-btn:hover {
  opacity: 1;
}

.check-input {
  display: none;
}

.check-input-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0px 20px 0px -20px;
}

.checkbox {
  filter: hue-rotate(60deg);
  transform: scale(1.02);
  cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 1021px) {
  .side-menu .brand {
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 20px;
  }

  .side-menu .brand-bell {
    display: none;
  }

  .side-menu {
    width: 52px;
  }

  .side-menu-item span {
    display: none;
  }

  .divider {
    display: block;
    width: 52px;
    transform: translate3d(-10px, 20px, 0px);
    height: 1px;
    background-color: var(--menu-section-clr);
    opacity: 0.5;
    margin-bottom: 40px;
  }

  .side-menu-profile .side-menu-section {
    margin-top: 10px;
  }

  .side-menu-section span {
    display: none;
  }

  .workspace {
    flex-direction: column;
    border: none;
    margin: 0px;
  }

  .workspace-section {
    padding: 0px;
  }

  .workspace:hover {
    border: none;
  }

  .workspace span,
  .workspace .fa-chevron-down {
    display: none;
  }

  .side-menu-section .side-user-wrapper span {
    display: none;
  }

  .side-menu-section {
    flex-direction: column !important;
  }

  #show-more-btn span {
    display: none;
  }

  .side-menu-section .profile-section-bell {
    display: block;
    color: var(--menu-link-clr);
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px;
    cursor: pointer;
  }

  .side-menu-section .profile-section-bell:hover {
    color: var(--menu-link-hover-clr);
  }

  .side-menu-profile .icon {
    padding: 0px;
  }

  .main-content {
    margin-left: 52px;
  }

  .time-bar-wrapper {
    padding-right: 70px;
  }
}
